<h1>Login</h1>
{{#if messages}}
<div class="alert alert-danger text-center">{{messages}}</div>
{{else}}
<div class="alert alert-dark text-center">Please enter your credentials</div>
{{/if}}
<form method="post">
        <fieldset class="form-group">
                <label for="username" class="col-2 control-label">Username: *</label>
                <input name="username" id="username" required />
        </fieldset>
        <fieldset class="form-group">
                <label for="password" class="col-2 control-label">Password: *</label>
                <input name="password" id="password" type="password" required />
        </fieldset>
        <fieldset class="form-group">
                <button class="btn btn-primary offset-2">Login</button>
                <a href="/auth/google">
                        <img src="/images/google-logo.png" height="38vh" width="85vw" style="border-radius: 6px; filter: invert(1);" alt="Sign In with Google" />
                </a>
                <a href="/auth/github">
                        <img src="/images/github-logo.png" height="38vh" width="85vw" style="border-radius: 6px;" alt="Sign In with Github" />
                </a>
                <hr />
                Need an account? <a href="/auth/register" style="font-weight: bold;" title="Register">Register</a>
        </fieldset>
</form>