<h1>Assignment Tracker</h1>
<div class="home">
    <section class="sec-left">
        <img src="../images/bg-home.jpg" alt="Home - Assignment image">
    </section>
    <section class="sec-right">
        <h2 style="text-align: center; padding: 10px 0px;">Login to our site and track the due dates of your work</h2>
        <p>you will be able to utilize this application to keep track of your multiple assignments, labs, quizzes, and
            so on, as well as their due dates, and you will be able to prioritize your duties based on the weight of
            your work. As a result, a you will find it simpler to manage their time and arrange your work so that you
            can present it on time.</p>
    </section>
</div>