
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Signika&family=Ubuntu&display=swap');
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh; 
  margin: 0; 
  display: grid;
  grid-template-rows: auto 1fr auto;
}
html{
  scroll-behavior: smooth;
}
header{
  position: sticky;
  top: 0;
  left: 0;
  z-index:1;
}
main{
  padding: 15px; 
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    #a1bda4 70%,
    #a1bda4 100%
  ) !important;
}
ul{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(16, 16, 16);
  height: 3rem;
}
ul li {
  font-size: large;
  font-weight: 600;
}
ul li a{
  color: #a1bda4 !important;
  text-decoration: none;
  padding: 6px;
}
ul li a:hover{
  color: rgb(0, 0, 0) !important;
  transition: ease-in-out 0.4s;
  background: linear-gradient(
  to right,
  rgb(255, 255, 255) 0%,
  #a1bda4 70%,
  #a1bda4 100%
);
  border-radius: 5px;
  font-weight: bold;
}
label{
  font-size: larger;
  margin: 10px 0px;
}
input, select{
  width: 250px;
  height: 25px;
}
footer{
  background-color: rgb(16, 16, 16);
  height: 3rem;
}
p{
  font-size: larger;
}
.p-footer{
  color: #a1bda4 !important;
  text-align: center;
}
.btn-primary{
  border: 2px solid black !important;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 6px;
  text-decoration: none;
  color: #a1bda4;
  background-color: rgb(16, 16, 16);
}
.btn-primary:hover{
  color: rgb(16, 16, 16);
  background-color: #a1bda4;
  transition: ease-in-out 0.4s;
}
fieldset{
  margin: 10px 0px;
}
table{
  margin: 5px 0px;
}