<h1>Add a New Assignment</h1>
<form method="post">
    <fieldset>
        <label for="courseTitle" class="col-2">Course Title:*</label>
        <input name="courseTitle" id="courseTitle" placeholder="Enter Your Course Title" required>
    </fieldset>
    <fieldset>
        <label for="typeOfWork" class="col-2">Type Of Work:*</label>
        <select name="typeOfWork" id="typeOfWork" required>
            <option value="Assignment">Assignment</option>
            <option value="Discussion">Discussion</option>
            <option value="Lab">Lab</option>
            <option value="Quiz">Quiz</option>
            <option value="Other">Other</option>
        </select>
    </fieldset>
    <fieldset>
        <label for="titleOfWork" class="col-2">Title Of Work:*</label>
        <input name="titleOfWork" id="titleOfWork" placeholder="Title of Work(ex. Lab-1, Quiz-1 etc.)" required>
    </fieldset>
    <fieldset>
        <label for="weighted" class="col-2">Weighted(%):*</label>
        <input type="number" name="weighted" id="weighted" min="1" max="50" placeholder="Enter the weighted of your work">
    </fieldset>
    <fieldset>
        <label for="dueDate" class="col-2">Due Date:*</label>
        <input type="date" name="dueDate" id="dueDate" min="return getDate()" required>
    </fieldset>
    <button class="btn btn-primary offset-2">Add</button>
</form>